@charset "UTF-8";
/* 開閉ボタン */
.btn-menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1;
  padding: 1rem;
  background: #0bd;
  width: 100px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  transition: 0.4s;
}

#menu-close {
  z-index: 3;
}
/*==============================

Menu

==============================*/
/* メニューパネル */
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 300px;
  height: 100vh;
  background: #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  /* メニューを画面外へ（パネル幅 ＋ box-shadow用の20px） */
  translate: 320px 0;
  transition: translate 0.4s;
}

.menu {
  list-style: none;
  padding-top: 10rem;
}

.menu a {
  color: #0bd;
  display: block;
}
